<div class="mod-filter">
	<form>
		<div class="ui-form">
			<label>
				<i class="ui-label">用户名</i>
				<input class="ui-input" type="text" ng-model="formData.name" />
			</label>
			<span class="ui-btn" ng-click="search()">搜索</span>
		</div>
	</form>
	
	<a ui-sref="home.user.add" class="ui-btn">新增用户</a>
</div>

{{formData}}

<div id="l-grid">
	<table>
		<tr>
			<th>名称</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="item in list track by $index" ng-class="{current:$index == 0, even:$index%2 == 0, last:$index == list.length - 1}" data-index="{{$index}}">
			<td><a ui-sref="home.user.detail({id:item.id})">{{item.Name}}</a></td>
			<td><a ng-click="del(item.id, item)">删除</a></td>
		</tr>
		<tr ng-if="!list">
			<td colspan="2">暂无数据</td>
		</tr>
	</table>
	<pagination />
</div>
<script type="text/html" id="popHtml">
确认删除{{Name}}？
</script>
<style type="text/css">
.current{font-weight:bold}
</style>