
.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-app(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 14px;
		height: 22px;
	}
	.hover(@isHover);
	
	background-position: -352px -37px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-app{
	background-position: -352px -37px;
	width: 14px;
	height: 22px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaGoods(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -230px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaGoods{
	background-position: -230px -330px;
	width: 21px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaGoodsHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -209px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaGoodsHover{
	background-position: -209px -330px;
	width: 21px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaHome(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 16px;
	}
	.hover(@isHover);
	
	background-position: 0px -351px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaHome{
	background-position: 0px -351px;
	width: 20px;
	height: 16px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaHomeHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 16px;
	}
	.hover(@isHover);
	
	background-position: -20px -351px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaHomeHover{
	background-position: -20px -351px;
	width: 20px;
	height: 16px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaHotels(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 22px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -165px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaHotels{
	background-position: -165px -330px;
	width: 22px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaHotelsHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 22px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -187px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaHotelsHover{
	background-position: -187px -330px;
	width: 22px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaLine(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -76px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaLine{
	background-position: -352px -76px;
	width: 18px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaLineHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -59px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaLineHover{
	background-position: -352px -59px;
	width: 18px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaNavDown(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 7px;
		height: 7px;
	}
	.hover(@isHover);
	
	background-position: -363px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaNavDown{
	background-position: -363px -245px;
	width: 7px;
	height: 7px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaPlay(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -85px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaPlay{
	background-position: -85px -305px;
	width: 21px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaPlayHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -64px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaPlayHover{
	background-position: -64px -305px;
	width: 21px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaPosition(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 25px;
		height: 25px;
	}
	.hover(@isHover);
	
	background-position: -306px -188px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaPosition{
	background-position: -306px -188px;
	width: 25px;
	height: 25px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaRaiders(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 16px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -161px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaRaiders{
	background-position: -352px -161px;
	width: 16px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaRaidersHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 16px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -178px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaRaidersHover{
	background-position: -352px -178px;
	width: 16px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaReserve(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -251px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaReserve{
	background-position: -251px -330px;
	width: 20px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaReserveHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -271px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaReserveHover{
	background-position: -271px -330px;
	width: 20px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaShop(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 18px;
	}
	.hover(@isHover);
	
	background-position: -100px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaShop{
	background-position: -100px -330px;
	width: 21px;
	height: 18px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaShopHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 18px;
	}
	.hover(@isHover);
	
	background-position: -79px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaShopHover{
	background-position: -79px -330px;
	width: 21px;
	height: 18px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaTickets(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -245px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaTickets{
	background-position: -245px -275px;
	width: 24px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaTicketsHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -269px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaTicketsHover{
	background-position: -269px -275px;
	width: 24px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaTraffic(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 22px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -121px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaTraffic{
	background-position: -121px -330px;
	width: 22px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaTrafficHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 22px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -143px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaTrafficHover{
	background-position: -143px -330px;
	width: 22px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaTravels(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 19px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -310px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaTravels{
	background-position: -310px -330px;
	width: 19px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaTravelsHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 19px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -329px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaTravelsHover{
	background-position: -329px -330px;
	width: 19px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaViewpoint(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 19px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaViewpoint{
	background-position: -352px 0px;
	width: 19px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-areaViewpointHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 19px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -291px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-areaViewpointHover{
	background-position: -291px -330px;
	width: 19px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-arrowRight(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 5px;
		height: 9px;
	}
	.hover(@isHover);
	
	background-position: -366px -37px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-arrowRight{
	background-position: -366px -37px;
	width: 5px;
	height: 9px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-cindex-a1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -306px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-cindex-a1{
	background-position: -306px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-cindex-a2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 10px;
		height: 10px;
	}
	.hover(@isHover);
	
	background-position: -352px -322px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-cindex-a2{
	background-position: -352px -322px;
	width: 10px;
	height: 10px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-cindex-q(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 45px;
		height: 70px;
	}
	.hover(@isHover);
	
	background-position: -179px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-cindex-q{
	background-position: -179px 0px;
	width: 45px;
	height: 70px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-cindex_xin(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 16px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -352px -17px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-cindex_xin{
	background-position: -352px -17px;
	width: 16px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-common_a(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 27px;
		height: 27px;
	}
	.hover(@isHover);
	
	background-position: -306px -30px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-common_a{
	background-position: -306px -30px;
	width: 27px;
	height: 27px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-day-num(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 48px;
		height: 40px;
	}
	.hover(@isHover);
	
	background-position: -45px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-day-num{
	background-position: -45px -200px;
	width: 48px;
	height: 40px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-day-ring(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 10px;
		height: 10px;
	}
	.hover(@isHover);
	
	background-position: -352px -312px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-day-ring{
	background-position: -352px -312px;
	width: 10px;
	height: 10px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-dot(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 5px;
		height: 5px;
	}
	.hover(@isHover);
	
	background-position: -366px -46px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-dot{
	background-position: -366px -46px;
	width: 5px;
	height: 5px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-error(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 16px;
		height: 16px;
	}
	.hover(@isHover);
	
	background-position: -352px -195px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-error{
	background-position: -352px -195px;
	width: 16px;
	height: 16px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-footerAbout(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 50px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: 0px -150px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-footerAbout{
	background-position: 0px -150px;
	width: 50px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-footerApp(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 50px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: -50px -150px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-footerApp{
	background-position: -50px -150px;
	width: 50px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-footerFollow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 50px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: -100px -150px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-footerFollow{
	background-position: -100px -150px;
	width: 50px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-footerHelp(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 50px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: -150px -150px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-footerHelp{
	background-position: -150px -150px;
	width: 50px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-goods-title(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 131px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: 0px -100px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-goods-title{
	background-position: 0px -100px;
	width: 131px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-headline(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 9px;
	}
	.hover(@isHover);
	
	background-position: -362px -312px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-headline{
	background-position: -362px -312px;
	width: 9px;
	height: 9px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -106px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a1{
	background-position: -106px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -226px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a2{
	background-position: -226px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a3(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 19px;
	}
	.hover(@isHover);
	
	background-position: -59px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a3{
	background-position: -59px -330px;
	width: 20px;
	height: 19px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a4(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -286px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a4{
	background-position: -286px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a5(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -246px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a5{
	background-position: -246px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a6(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -186px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a6{
	background-position: -186px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a7(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -206px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a7{
	background-position: -206px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a8(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 19px;
	}
	.hover(@isHover);
	
	background-position: -19px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a8{
	background-position: -19px -330px;
	width: 20px;
	height: 19px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-a9(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 19px;
	}
	.hover(@isHover);
	
	background-position: -39px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-a9{
	background-position: -39px -330px;
	width: 20px;
	height: 19px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: 0px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b1{
	background-position: 0px -275px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: 0px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b2{
	background-position: 0px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b3(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -270px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b3{
	background-position: -270px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b4(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -240px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b4{
	background-position: -240px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b5(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -210px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b5{
	background-position: -210px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b6(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -120px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b6{
	background-position: -120px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b7(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -60px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b7{
	background-position: -60px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-b8(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -30px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-b8{
	background-position: -30px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-hotel-tip(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 31px;
		height: 32px;
	}
	.hover(@isHover);
	
	background-position: -208px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-tip{
	background-position: -208px -200px;
	width: 31px;
	height: 32px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-cart(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -126px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-cart{
	background-position: -126px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-colection(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 13px;
		height: 13px;
	}
	.hover(@isHover);
	
	background-position: -352px -279px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-colection{
	background-position: -352px -279px;
	width: 13px;
	height: 13px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-explain-a(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 29px;
		height: 29px;
	}
	.hover(@isHover);
	
	background-position: -61px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-explain-a{
	background-position: -61px -275px;
	width: 29px;
	height: 29px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-explain-b(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 21px;
		height: 27px;
	}
	.hover(@isHover);
	
	background-position: -200px -150px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-explain-b{
	background-position: -200px -150px;
	width: 21px;
	height: 27px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-explain(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 26px;
		height: 26px;
	}
	.hover(@isHover);
	
	background-position: -306px -110px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-explain{
	background-position: -306px -110px;
	width: 26px;
	height: 26px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-feature(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 26px;
		height: 27px;
	}
	.hover(@isHover);
	
	background-position: -306px -57px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-feature{
	background-position: -306px -57px;
	width: 26px;
	height: 27px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-introduce-a(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 14px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -228px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-introduce-a{
	background-position: -352px -228px;
	width: 14px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-introduce-b(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 29px;
		height: 29px;
	}
	.hover(@isHover);
	
	background-position: -90px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-introduce-b{
	background-position: -90px -275px;
	width: 29px;
	height: 29px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-introduce-c(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 31px;
		height: 29px;
	}
	.hover(@isHover);
	
	background-position: -30px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-introduce-c{
	background-position: -30px -275px;
	width: 31px;
	height: 29px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-introduce(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 22px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -42px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-introduce{
	background-position: -42px -305px;
	width: 22px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-jiao(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 15px;
		height: 8px;
	}
	.hover(@isHover);
	
	background-position: -352px -292px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-jiao{
	background-position: -352px -292px;
	width: 15px;
	height: 8px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-notice(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 26px;
		height: 26px;
	}
	.hover(@isHover);
	
	background-position: -306px -84px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-notice{
	background-position: -306px -84px;
	width: 26px;
	height: 26px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-num(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 10px;
		height: 12px;
	}
	.hover(@isHover);
	
	background-position: -352px -300px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-num{
	background-position: -352px -300px;
	width: 10px;
	height: 12px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-overview-a(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 34px;
		height: 41px;
	}
	.hover(@isHover);
	
	background-position: -269px -120px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-overview-a{
	background-position: -269px -120px;
	width: 34px;
	height: 41px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-overview(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 27px;
	}
	.hover(@isHover);
	
	background-position: -306px -161px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-overview{
	background-position: -306px -161px;
	width: 24px;
	height: 27px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-phone(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 28px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -306px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-phone{
	background-position: -306px 0px;
	width: 28px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-price(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -266px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-price{
	background-position: -266px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-tip1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 70px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -224px -60px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-tip1{
	background-position: -224px -60px;
	width: 70px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-tip2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 70px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -224px -30px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-tip2{
	background-position: -224px -30px;
	width: 70px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-tip3(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 82px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -224px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-tip3{
	background-position: -224px 0px;
	width: 82px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-tip4(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 70px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -224px -90px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-tip4{
	background-position: -224px -90px;
	width: 70px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-title(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 179px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: 0px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-title{
	background-position: 0px 0px;
	width: 179px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-line-view(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 26px;
	}
	.hover(@isHover);
	
	background-position: -306px -213px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line-view{
	background-position: -306px -213px;
	width: 24px;
	height: 26px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-listLike(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 17px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -127px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-listLike{
	background-position: -352px -127px;
	width: 17px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-login-code(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 31px;
		height: 25px;
	}
	.hover(@isHover);
	
	background-position: -273px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-login-code{
	background-position: -273px -200px;
	width: 31px;
	height: 25px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-login-peo(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 23px;
		height: 25px;
	}
	.hover(@isHover);
	
	background-position: -306px -269px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-login-peo{
	background-position: -306px -269px;
	width: 23px;
	height: 25px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-login-phone(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -306px -239px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-login-phone{
	background-position: -306px -239px;
	width: 20px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-login-pw(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 25px;
	}
	.hover(@isHover);
	
	background-position: 0px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-login-pw{
	background-position: 0px -305px;
	width: 20px;
	height: 25px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-login-qq(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 19px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: 0px -330px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-login-qq{
	background-position: 0px -330px;
	width: 19px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-login-sina(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 19px;
	}
	.hover(@isHover);
	
	background-position: -221px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-login-sina{
	background-position: -221px -275px;
	width: 24px;
	height: 19px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-moreDown(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 5px;
	}
	.hover(@isHover);
	
	background-position: -361px -338px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-moreDown{
	background-position: -361px -338px;
	width: 9px;
	height: 5px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-moreUp(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 5px;
	}
	.hover(@isHover);
	
	background-position: -352px -338px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-moreUp{
	background-position: -352px -338px;
	width: 9px;
	height: 5px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-navDown(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 6px;
	}
	.hover(@isHover);
	
	background-position: -362px -322px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-navDown{
	background-position: -362px -322px;
	width: 9px;
	height: 6px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-navDownHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 6px;
	}
	.hover(@isHover);
	
	background-position: -352px -332px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-navDownHover{
	background-position: -352px -332px;
	width: 9px;
	height: 6px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-navUp(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 6px;
	}
	.hover(@isHover);
	
	background-position: -361px -332px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-navUp{
	background-position: -361px -332px;
	width: 9px;
	height: 6px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -199px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-1{
	background-position: -334px -199px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-10(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -220px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-10{
	background-position: -334px -220px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -241px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-2{
	background-position: -334px -241px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-3(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -115px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-3{
	background-position: -334px -115px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-4(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -178px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-4{
	background-position: -334px -178px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-5(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -157px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-5{
	background-position: -334px -157px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-6(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -136px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-6{
	background-position: -334px -136px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-7(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -52px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-7{
	background-position: -334px -52px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-8(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -94px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-8{
	background-position: -334px -94px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-9(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -334px -73px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-9{
	background-position: -334px -73px;
	width: 18px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-news-location(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 11px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-news-location{
	background-position: -352px -245px;
	width: 11px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-official-title(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 178px;
		height: 50px;
	}
	.hover(@isHover);
	
	background-position: 0px -50px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-official-title{
	background-position: 0px -50px;
	width: 178px;
	height: 50px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-position(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 11px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -262px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-position{
	background-position: -352px -262px;
	width: 11px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-progress-cur(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -180px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-progress-cur{
	background-position: -180px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-progress-disabled(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -150px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-progress-disabled{
	background-position: -150px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-progress-pass(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 30px;
	}
	.hover(@isHover);
	
	background-position: -90px -245px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-progress-pass{
	background-position: -90px -245px;
	width: 30px;
	height: 30px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-search-min(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 17px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -110px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-search-min{
	background-position: -352px -110px;
	width: 17px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-search(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 22px;
		height: 22px;
	}
	.hover(@isHover);
	
	background-position: -20px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-search{
	background-position: -20px -305px;
	width: 22px;
	height: 22px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-selectedItem(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 9px;
		height: 9px;
	}
	.hover(@isHover);
	
	background-position: -362px -300px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-selectedItem{
	background-position: -362px -300px;
	width: 9px;
	height: 9px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-shop-home(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -197px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-shop-home{
	background-position: -197px -275px;
	width: 24px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-shop-other(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 25px;
		height: 21px;
	}
	.hover(@isHover);
	
	background-position: -172px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-shop-other{
	background-position: -172px -275px;
	width: 25px;
	height: 21px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-spot-add(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -146px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-spot-add{
	background-position: -146px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-spot-addHover(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 20px;
		height: 20px;
	}
	.hover(@isHover);
	
	background-position: -166px -305px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-spot-addHover{
	background-position: -166px -305px;
	width: 20px;
	height: 20px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-spot-zan(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 17px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -93px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-spot-zan{
	background-position: -352px -93px;
	width: 17px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-time(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 17px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -144px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-time{
	background-position: -352px -144px;
	width: 17px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-tracel-colection(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 26px;
		height: 25px;
	}
	.hover(@isHover);
	
	background-position: -306px -136px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tracel-colection{
	background-position: -306px -136px;
	width: 26px;
	height: 25px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-tracel-head-pc(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 40px;
		height: 40px;
	}
	.hover(@isHover);
	
	background-position: -93px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tracel-head-pc{
	background-position: -93px -200px;
	width: 40px;
	height: 40px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-tracel-head-pc2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 40px;
		height: 40px;
	}
	.hover(@isHover);
	
	background-position: -133px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tracel-head-pc2{
	background-position: -133px -200px;
	width: 40px;
	height: 40px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-tracel-share(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 24px;
		height: 22px;
	}
	.hover(@isHover);
	
	background-position: -200px -177px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tracel-share{
	background-position: -200px -177px;
	width: 24px;
	height: 22px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-tracel-zan(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 23px;
		height: 24px;
	}
	.hover(@isHover);
	
	background-position: -149px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tracel-zan{
	background-position: -149px -275px;
	width: 23px;
	height: 24px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_a(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 26px;
	}
	.hover(@isHover);
	
	background-position: -334px 0px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_a{
	background-position: -334px 0px;
	width: 18px;
	height: 26px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_b(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 18px;
		height: 26px;
	}
	.hover(@isHover);
	
	background-position: -334px -26px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_b{
	background-position: -334px -26px;
	width: 18px;
	height: 26px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_bus(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 45px;
		height: 45px;
	}
	.hover(@isHover);
	
	background-position: -224px -120px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_bus{
	background-position: -224px -120px;
	width: 45px;
	height: 45px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_bus1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 35px;
		height: 35px;
	}
	.hover(@isHover);
	
	background-position: -179px -115px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_bus1{
	background-position: -179px -115px;
	width: 35px;
	height: 35px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_plane(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 45px;
		height: 45px;
	}
	.hover(@isHover);
	
	background-position: 0px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_plane{
	background-position: 0px -200px;
	width: 45px;
	height: 45px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_plane1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 35px;
		height: 35px;
	}
	.hover(@isHover);
	
	background-position: -224px -165px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_plane1{
	background-position: -224px -165px;
	width: 35px;
	height: 35px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_train(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 45px;
		height: 45px;
	}
	.hover(@isHover);
	
	background-position: -131px -100px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_train{
	background-position: -131px -100px;
	width: 45px;
	height: 45px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_train1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 35px;
		height: 35px;
	}
	.hover(@isHover);
	
	background-position: -259px -165px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_train1{
	background-position: -259px -165px;
	width: 35px;
	height: 35px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_wharf(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 45px;
		height: 45px;
	}
	.hover(@isHover);
	
	background-position: -179px -70px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_wharf{
	background-position: -179px -70px;
	width: 45px;
	height: 45px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-traffic_wharf1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 35px;
		height: 35px;
	}
	.hover(@isHover);
	
	background-position: -173px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic_wharf1{
	background-position: -173px -200px;
	width: 35px;
	height: 35px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-travel-car(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 34px;
		height: 28px;
	}
	.hover(@isHover);
	
	background-position: -239px -200px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travel-car{
	background-position: -239px -200px;
	width: 34px;
	height: 28px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-travel-tip(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 14px;
		height: 17px;
	}
	.hover(@isHover);
	
	background-position: -352px -211px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travel-tip{
	background-position: -352px -211px;
	width: 14px;
	height: 17px;
}


.iconSprite(){
	background-image: url(../img/sprite.png);
}
.icon-weixin(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		width: 30px;
		height: 24px;
	}
	.hover(@isHover);
	
	background-position: -119px -275px;
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-weixin{
	background-position: -119px -275px;
	width: 30px;
	height: 24px;
}

