<div class="mod-filter"><form><div class="ui-form"><label><i class="ui-label">用户名</i> <input class="ui-input" type="text" ng-model="formData.name"></label><span class="ui-btn" ng-click="search()">搜索</span></div></form><a ui-sref="home.user.add" class="ui-btn">新增用户</a></div>{{formData}}<div id="l-grid"><table><tr><th>名称</th><th>操作</th></tr><tr ng-repeat="item in list track by $index" ng-class="{current:$index == 0, even:$index%2 == 0, last:$index == list.length - 1}" data-index="{{$index}}"><td><a ui-sref="home.user.detail({id:item.id})" ng-bind-html="item.Name | trustAsHtml "></a></td><td><a ng-click="del(item.id, item)">删除</a></td></tr><tr ng-if="!list"><td colspan="2">暂无数据</td></tr></table><pagination></div><script type="text/html" id="popHtml">确认删除{{Name}}？</script><style type="text/css">.current{font-weight:bold}</style><style>.pagination {
		float: left;
	}
	.pagination {
		display: inline-block;
		padding-left: 0;
		margin: 20px 0;
		border-radius: 4px;
	}
	.pagination span {
		cursor: pointer;
	}
	.pagination>li{float:left}
	.pagination>li>a, .pagination>li>span {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #428bca;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.page-list .pagination {float:left;}
	.page-list .pagination span {cursor: pointer;}
	.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
	.page-list .pagination .separate span:hover {background: none;}
	.page-list .page-total {float:left; margin: 25px 20px;}
	.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
	.page-list .page-total input {width: 40px; padding-left:3px;}
	.page-list .page-total select {width: 50px;}</style><div class="col-lg-3 col-sm-4 col-xs-6 pull-left" ng-repeat="item in products"><div class="image-area text-center"><img ng-src="{{ item.image }}"></div><div class="text-center text-title">{{ item.name }}</div></div><tm-pagination conf="paginationConf"></tm-pagination>